body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "American Typewriter", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-image: url('https://cdn.fishki.net/upload/post/2017/05/26/2299306/d936b0f1ad9d61ab38cfc15994f28de6.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  height: 500px;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

input {
  width: 350px;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
}
p {
  width: 350px;
  height: 40px;
  margin: 0;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 10px;
  background-color: #fff;
}
h2 {
  color: white;
}
span {
  color: white;
  text-align: left;
  display: block;
}